#project{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.projectHead{
    position: absolute;
    left: 2rem;
    top: 5rem;
}

.projectPara{
    position: absolute;
    left: 2rem;
    top: 8rem;
    font-size: medium;
    font-weight: 300;
}

.projectImgpuzzle{
    height: 15rem;
    width: 23rem;
    object-fit: cover;
    position: absolute;
    top: 12rem;
    left: 2rem;
    border-radius: 15px;
}

.projectImgTodolist{
    height: 15rem;
    width: 23rem;
    object-fit: cover;
    position: absolute;
    top: 12rem;
    left: 28.5rem;
    border-radius: 15px;
}

.projectImgDragdrop{
    height: 15rem;
    width: 23rem;
    object-fit: cover;
    position: absolute;
    top: 12rem;
    right: 2rem;
    border-radius: 15px;
}


@media screen and (max-width:840px) {

    

    .projectPara{
        /* top: 2.5rem; */
        font-size: 1.5rem;
    }

    .projectImgpuzzle{
        top: 15rem;
        left: 10rem;
        height: 15rem;
        width: 25rem;
    }

    .projectImgTodolist{
        top: 32rem;
        left: 10rem;
        height: 15rem;
        width: 25rem;
    }

    .projectImgDragdrop{
        top: 49rem;
        left: 10rem;
        height: 15rem;
        width: 25rem;
    }

}

@media screen and (max-width:480px) {

    .projectHead{
        top: 0rem;
    }

    .projectPara{
        top: 2.5rem;
        font-size: 0.75rem;
    }

    .projectImgpuzzle{
        top: 6rem;
        left: 2rem;
        height: 10rem;
        width: 20rem;
    }

    .projectImgTodolist{
        top: 17rem;
        left: 2rem;
        height: 10rem;
        width: 20rem;
    }
    .projectImgDragdrop{
        top: 28rem;
        left: 2rem;
        height: 10rem;
        width: 20rem;
    }

}