#skills{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.skillHead{
    position: absolute;
    left: 34rem;
    top: 2rem;
}

.skillPara{
    position: absolute;
    left: 4rem;
    top: 7rem;
    font-size: medium;
    font-weight: 300;
}

.htmlImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute;
    top: 6rem;
    right: 25rem;
}
.cssImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute; 
    top: 6rem;
    right: 15rem;
    
}
.jsImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute;
    top: 6rem;
    right: 5rem;
    
}
.reactImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute;
    top: 16rem;
    right: 20rem;
}

.bootImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute;
    top: 16rem;
    right: 10rem;
}

.javaImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute;
    top: 27rem;
    right: 25rem;
    
}
.springImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute;
    top: 27rem;
    right: 15rem;
    
}
.mysqlImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: absolute;
    top: 27rem;
    right: 5rem;
}


@media screen and (max-width:840px) {

    .skillHead{
        left: 2rem;
    }

        .skillPara{
            /* left: 2rem; */
            top: 5rem;
            font-size: 1.5rem;
            /* font-size: medium;
            font-weight: 300; */
        }

        .htmlImg{
            height: 7vh;
            width: auto;
            object-fit: cover;
            top: 45rem;
            left: 4rem;
        }

        .cssImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 44.5rem;
            left: 14rem;
        }

        .jsImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 45rem;
            left: 24rem;
        }

        .reactImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 45rem;
            left: 34rem;
        }

        .bootImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 55rem;
            left: 4rem;
        }
        
        .javaImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 55rem;
            left: 14rem;
        }

        .springImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 55rem;
            left: 24rem;
        }

        .mysqlImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 55rem;
            left: 34rem;
        }
    
}

@media screen and (max-width:480px) {

    .skillHead{
        left: 10rem;
        top: 0rem;
    }

        .skillPara{
            /* position: absolute; */
                /* font-size: 1rem; */
            left: 2rem;
            top: 3rem;
            font-size: 0.75rem;
            /* font-size: medium;
            font-weight: 300; */
        }

        .htmlImg{
            height: 7vh;
            width: auto;
            object-fit: cover;
            top: 23rem;
            left: 2rem;
        }

        .cssImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 22.5rem;
            left: 7rem;
        }

        .jsImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 23rem;
            left: 12rem;
        }

        .reactImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 23rem;
            left: 17rem;
        }

        .bootImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 28rem;
            left: 2rem;
        }
        
        .javaImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 28rem;
            left: 7rem;
        }

        .springImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 28rem;
            left: 12rem;
        }

        .mysqlImg{
            height: 8vh;
            width: auto;
            object-fit: cover;
            top: 28rem;
            left: 17rem;
        }
    
}